/*
	mmenu position extension CSS
*/
.mm-menu.mm-top {
    width: 100%; }
  
  html.mm-top.mm-opened .mm-page,
  html.mm-top.mm-opened #mm-blocker {
    top: 0%; }
  
  html.mm-top.mm-opened.mm-opening .mm-page,
  html.mm-top.mm-opened.mm-opening #mm-blocker,
  html.mm-top.mm-opened.mm-opening .mm-fixed-top,
  html.mm-top.mm-opened.mm-opening .mm-fixed-bottom {
    left: 0; }
  
  .mm-menu.mm-right {
    left: auto;
    right: 0; }
  
  html.mm-right.mm-opened .mm-page,
  html.mm-right.mm-opened #mm-blocker,
  html.mm-right.mm-opened .mm-fixed-top,
  html.mm-right.mm-opened .mm-fixed-bottom {
    left: auto;
    right: 0%; }
  
  html.mm-right.mm-opened.mm-opening .mm-page,
  html.mm-right.mm-opened.mm-opening #mm-blocker,
  html.mm-right.mm-opened.mm-opening .mm-fixed-top,
  html.mm-right.mm-opened.mm-opening .mm-fixed-bottom {
    left: auto; }
  
  .mm-menu.mm-bottom {
    width: 100%;
    top: auto;
    bottom: 0; }
  
  html.mm-bottom.mm-opened .mm-page,
  html.mm-bottom.mm-opened #mm-blocker {
    bottom: 0%;
    top: auto; }
  
  html.mm-bottom.mm-opened.mm-opening .mm-page,
  html.mm-bottom.mm-opened.mm-opening #mm-blocker,
  html.mm-bottom.mm-opened.mm-opening .mm-fixed-top,
  html.mm-bottom.mm-opened.mm-opening .mm-fixed-bottom {
    top: auto;
    left: 0; }
  
  .mm-menu.mm-top {
    height: 80%; }
  
  html.mm-top.mm-opened.mm-opening .mm-page,
  html.mm-top.mm-opened.mm-opening #mm-blocker,
  html.mm-top.mm-opened.mm-opening .mm-fixed-top {
    top: 80%; }
  html.mm-top.mm-opened.mm-opening .mm-fixed-bottom {
    bottom: -80%; }
  
  @media all and (max-height: 175px) {
    .mm-menu.mm-top {
      height: 140px; }
  
    html.mm-top.mm-opened.mm-opening .mm-page,
    html.mm-top.mm-opened.mm-opening #mm-blocker,
    html.mm-top.mm-opened.mm-opening .mm-fixed-top {
      top: 140px; }
    html.mm-top.mm-opened.mm-opening .mm-fixed-bottom {
      bottom: -140px; } }
  @media all and (min-height: 1100px) {
    .mm-menu.mm-top {
      height: 880px; }
  
    html.mm-top.mm-opened.mm-opening .mm-page,
    html.mm-top.mm-opened.mm-opening #mm-blocker,
    html.mm-top.mm-opened.mm-opening .mm-fixed-top {
      top: 880px; }
    html.mm-top.mm-opened.mm-opening .mm-fixed-bottom {
      bottom: -880px; } }
  .mm-menu.mm-right {
    width: 80%; }
  
  html.mm-right.mm-opened.mm-opening .mm-page,
  html.mm-right.mm-opened.mm-opening #mm-blocker,
  html.mm-right.mm-opened.mm-opening .mm-fixed-top,
  html.mm-right.mm-opened.mm-opening .mm-fixed-bottom {
    right: 80%; }
  
  @media all and (max-width: 175px) {
    .mm-menu.mm-right {
      width: 140px; }
  
    html.mm-right.mm-opened.mm-opening .mm-page,
    html.mm-right.mm-opened.mm-opening #mm-blocker,
    html.mm-right.mm-opened.mm-opening .mm-fixed-top,
    html.mm-right.mm-opened.mm-opening .mm-fixed-bottom {
      right: 140px; } }
  @media all and (min-width: 550px) {
    .mm-menu.mm-right {
      width: 440px; }
  
    html.mm-right.mm-opened.mm-opening .mm-page,
    html.mm-right.mm-opened.mm-opening #mm-blocker,
    html.mm-right.mm-opened.mm-opening .mm-fixed-top,
    html.mm-right.mm-opened.mm-opening .mm-fixed-bottom {
      right: 440px; } }
  .mm-menu.mm-bottom {
    height: 80%; }
  
  html.mm-bottom.mm-opened.mm-opening .mm-page,
  html.mm-bottom.mm-opened.mm-opening #mm-blocker,
  html.mm-bottom.mm-opened.mm-opening .mm-fixed-bottom {
    bottom: 80%; }
  html.mm-bottom.mm-opened.mm-opening .mm-fixed-top {
    top: -80%; }
  
  @media all and (max-height: 175px) {
    .mm-menu.mm-bottom {
      height: 140px; }
  
    html.mm-bottom.mm-opened.mm-opening .mm-page,
    html.mm-bottom.mm-opened.mm-opening #mm-blocker,
    html.mm-bottom.mm-opened.mm-opening .mm-fixed-bottom {
      bottom: 140px; }
    html.mm-bottom.mm-opened.mm-opening .mm-fixed-top {
      top: -140px; } }
  @media all and (min-height: 1100px) {
    .mm-menu.mm-bottom {
      height: 880px; }
  
    html.mm-bottom.mm-opened.mm-opening .mm-page,
    html.mm-bottom.mm-opened.mm-opening #mm-blocker,
    html.mm-bottom.mm-opened.mm-opening .mm-fixed-bottom {
      bottom: 880px; }
    html.mm-bottom.mm-opened.mm-opening .mm-fixed-top {
      top: -880px; } }
  /*
      jQuery.mmenu z-position extension CSS
  */
  html.mm-front.mm-opened .mm-page {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important; }
  
  .mm-menu.mm-front,
  .mm-menu.mm-next {
    -webkit-transition: none 0.4s ease;
    -moz-transition: none 0.4s ease;
    -ms-transition: none 0.4s ease;
    -o-transition: none 0.4s ease;
    transition: none 0.4s ease;
    -webkit-transition-property: top, right, bottom, left, -webkit-transform;
    -moz-transition-property: top, right, bottom, left, -moz-transform;
    -ms-transition-property: top, right, bottom, left, -o-transform;
    -o-transition-property: top, right, bottom, left, -o-transform;
    transition-property: top, right, bottom, left, transform; }
  
  html.mm-front .mm-page,
  html.mm-front #mm-blocker {
    z-index: 0; }
  
  .mm-menu.mm-front {
    z-index: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
  
  html.mm-opened.mm-next .mm-page {
    box-shadow: none; }
  
  html.mm-opening .mm-menu.mm-front, html.mm-opening .mm-menu.mm-next {
    left: 0%; }
  
  .mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next {
    left: 0; }
  
  html.mm-opening .mm-menu.mm-top.mm-front, html.mm-opening .mm-menu.mm-top.mm-next {
    left: 0;
    top: 0%; }
  
  .mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next {
    left: auto; }
  
  html.mm-opening .mm-menu.mm-right.mm-front, html.mm-opening .mm-menu.mm-right.mm-next {
    left: auto;
    right: 0%; }
  
  .mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next {
    top: auto;
    left: 0; }
  
  html.mm-opening .mm-menu.mm-bottom.mm-front, html.mm-opening .mm-menu.mm-bottom.mm-next {
    left: 0;
    bottom: 0%; }
  
  .mm-menu.mm-front, .mm-menu.mm-next {
    left: -80%; }
  
  @media all and (max-width: 175px) {
    .mm-menu.mm-front, .mm-menu.mm-next {
      left: -140px; } }
  @media all and (min-width: 550px) {
    .mm-menu.mm-front, .mm-menu.mm-next {
      left: -440px; } }
  .mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next {
    top: -80%; }
  
  @media all and (max-height: 175px) {
    .mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next {
      top: -140px; } }
  @media all and (min-height: 1100px) {
    .mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next {
      top: -880px; } }
  .mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next {
    right: -80%; }
  
  @media all and (max-width: 175px) {
    .mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next {
      right: -140px; } }
  @media all and (min-width: 550px) {
    .mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next {
      right: -440px; } }
  .mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next {
    bottom: -80%; }
  
  @media all and (max-height: 175px) {
    .mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next {
      bottom: -140px; } }
  @media all and (min-height: 1100px) {
    .mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next {
      bottom: -880px; } }
  html.mm-opened.mm-front .mm-fixed-top,
  html.mm-opened.mm-front .mm-fixed-bottom,
  html.mm-opened.mm-opening.mm-front .mm-fixed-top,
  html.mm-opened.mm-opening.mm-front .mm-fixed-bottom {
    left: 0;
    right: auto; }
  html.mm-opened.mm-front .mm-fixed-top,
  html.mm-opened.mm-opening.mm-front .mm-fixed-top {
    top: 0; }
  html.mm-opened.mm-front .mm-fixed-bottom,
  html.mm-opened.mm-opening.mm-front .mm-fixed-bottom {
    bottom: 0; }